// pipeline config for gbs_prism

params {
	// TODO not available until 24.11.0-edge: env("HOME")
	home                = "/home/guestsi"

	// TODO:
	seq_root            = "/dataset/2024_illumina_sequencing_d/active"
	//seq_root            = "${home}/gbs_prism.dev/fake_runs"

	// TODO:
	// postprocessing_root = "/dataset/2024_illumina_sequencing_d/scratch/postprocessing"
	postprocessing_root = "~/gbs_prism.dev/postprocessing.nextflow"

	// TODO:
	// gbs_backup_dir = "/dataset/gseq_processing/archive/backups"
	gbs_backup_dir      = "~/gbs_prism.dev/backups"

	// TODO:
	// keyfiles_dir = "/dataset/hiseq/active/key-files"
	keyfiles_dir        = "~/gbs_prism.dev/key-files"

	// TODO
	// fastq_link_farm = "/dataset/hiseq/active/fastq-link-farm"
	fastq_link_farm     = "~/gbs_prism.dev/fastq-link-farm"
}

// TODO size this correctly, on a per-label basis
process {
    cpus = 4
    memory = 8.GB
}

process {
	withName: 'KMER_ANALYSIS' {
		ext.kmer_size = 6
		ext.input_filetype="fasta"
	}
}
