<!DOCTYPE html>
<html>
  <head>
    <title>{{ report.name }}</title>
  </head>
  <body>
    <h1>{{ report.name }}</h1>
    {% for chapter in report.chapters -%}
      {% if chapter.name is not none -%}
        <h2>{{ chapter.name }}</h2>
      {% endif -%}
      {% for section in chapter.sections -%}
        {% if section.name is not none -%}
          <h3>{{ section.name }}</h3>
        {% endif -%}

        <table width="90%" align="center">
          <tr>
            {% if section.named_rows -%}
              <td></td>
            {% endif -%}
            {% for column in chapter.columns -%}
              <td>
                {% if column is not none -%}
                  <h4>{{ column }}</h4>
                {% endif -%}
              </td>
            {% endfor -%}
          </tr>
          {% for row in section.rows -%}
            <tr>
              {% if section.named_rows -%}
                <td>
                  {% if row.name is not none -%}
                    {{ row.name }}
                  {% endif -%}
                </td>
              {% endif -%}
              {% for column in chapter.columns -%}
                <td>
                  {% if row.by_column[column] is none -%}
                    <span>(missing)</span>
                  {% elif isinstance(row.by_column[column], Image) -%}
                    <img
                      src="{{ row.by_column[column].url }}"
                      title="{{ row.description }}"
                      height="300"
                      width="300"
                    />
                  {% elif isinstance(row.by_column[column], Link) -%}
                    <a
                      href="{{ row.by_column[column].url }}"
                      target="{{ row.by_column[column].url }}"
                    >
                      {{ row.name }}
                    </a>
                  {% elif isinstance(row.by_column[column], Inline) -%}
                    <font size="-2">
                      <pre>{{ row.by_column[column].content }}</pre>
                    </font>
                  {% endif -%}
                </td>
              {% endfor -%}
            </tr>
          {% endfor -%}
        </table>
      {% endfor -%}
    {% endfor -%}
  </body>
</html>
