<!DOCTYPE html>
<html>
  <head>
    <title>{{ report.name }}</title>
  </head>
  <body>
    <h1>{{ report.name }}</h1>
    {% for chapter in report.chapters -%}
    <h2>{{ chapter.name }}</h2>

    {% for section in chapter.sections -%}

    <h3>{{ section.name }}</h3>

    <table width="90%" align="center">
      <tr>
        <td></td>
        {% for column in chapter.columns -%}
        <td><h4>{{ column }}</h4></td>
        {% endfor -%}
      </tr>
      {% for row in section.rows -%}
      <tr>
        <td>{{ row.name }}</td>
        {% for column in chapter.columns -%}
        <td>
          {% if row.by_column[column] is none -%}
          <span>(missing)</span>
          {% elif section.kind == "image" -%}
          <img
            src="{{ row.by_column[column] }}"
            title="{{ row.description }}"
            height="300"
            width="300"
          />
          {% elif section.kind == "link" -%}
          <a
            href="{{ row.by_column[column] }}"
            target="{{ row.by_column[column] }}"
          >
            {{ row.name }}
          </a>
          {% elif section.kind == "inline" -%}
          <font size="-2"><pre>{{ row.by_column[column] }}</pre></font>
          {% endif -%}
        </td>
        {% endfor -%}
      </tr>
      {% endfor -%}
    </table>
    {% endfor -%} {% endfor -%}
  </body>
</html>
